/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #476E88;
  color: #F3F3F3;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
  font-family: 'Patua One';
  font-size: 18px;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #3f3f3f;
  color: #F3F3F3;
  font-family: 'Patua One';
  font-size: 20px;
  text-align: center;
}
/* Style the accordion panel. Note: hidden by default */
.acc-panel {
  font-family: 'Source Serif Pro';
  font-size: 14px;
  padding: 0;
  background-color: #F3F3F3;
  display: none;
  overflow: hidden;
  text-align: center;
}
h2 {
  font-family: 'Patua One';
  font-size: 24px;
  color:rgb(36, 25, 25);
  text-align: center;
}
h3 {
  font-family: 'Patua One';
  font-size: 24px;
  background-color: #F3F3F3; 
  color: rgb(36, 25, 25);
  text-align: center;
  padding: 0 18px;
}
h4 {
  font-family: 'Source Serif Pro';
  font-size: 1rem;
  padding: 0; margin: 0;
}
p {
  font-family: 'Source Serif Pro';
  font-size: 16px;
  background-color: #F3F3F3; 
  color: rgb(36, 25, 25);
  text-align: center;
}
