.grid-container {
    max-width: 750px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid-item {
    cursor: pointer;
    height: 2.5rem;
    margin: 5px;
    background-color: #476E88;
    color: #F3F3F3;
    border: none;
    transition: 0.4s;
    font-family: 'Patua One';
    font-size: 18px;
}

.grid-item:hover {
    background-color: #3f3f3f;
    color: #F3F3F3;
    font-size: 20px;
}

.map-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.text-center {
    text-align: center;
}

#grid-title {
    text-align: center;
}

@media only screen  and (max-width : 899px) {
    .mapDisplay {
        display: none;
    }

    .gridDisplay {
        display: grid;
    }
}

@media only screen  and (min-width : 400px) {
    .grid {
        grid-template-columns: 33% 33% 33%;
    }
}

@media only screen  and (min-width : 600px) {
    .grid {
        grid-template-columns: 25% 25% 25% 25%;
    }
}

@media only screen  and (min-width : 900px) {
    .gridDisplay {
        display: none;
    }

    .mapDisplay {
        display: block;
    }
}